@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ===========================
   Effet titre type Spider-Noir
   =========================== */

@keyframes cinezoneShine {
  from {
    background-position: -200% center;
  }

  to {
    background-position: 200% center;
  }
}

.cinezoneTitle {
  background-image: linear-gradient(
    120deg,
    #ffffff 0%,
    #ffffff 40%,
    #ef4444 50%,
    #ffffff 60%,
    #ffffff 100%
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: cinezoneShine 8s linear infinite;

  font-weight: 900;
}
